<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="filedebug" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../logs/debug.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="maxBackupIndex" value="15" />
		<param name="maxFileSize" value="2000KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{ISO8601} [%t][%x] %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="levelToMatch" value="DEBUG" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.SimpleLayout" />
	</appender>

	<logger name="fr.ensma.lias.mariusql">
		<level value="debug"/>
		<appender-ref ref="filedebug" />
	</logger>	
	
	<root>
		<priority value ="debug" /> 
		<appender-ref ref="console" />
		<appender-ref ref="filedebug" />
	</root>
</log4j:configuration>
